.thirdsec{
    text-align: center;
    width: 30%;
    margin: 0 auto 0 auto;
    line-height: 1.7rem;
    word-spacing: 2px;
    
}

.progress{
    height: 200px;
    color: #397644;
    margin: 20px;

}


@media only screen and (max-width: 600px) {
    .thirdsec{
        width: 100%;
    }

    .progress{
        height: 120px;    
    }
     
  }